body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}
	  
.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	padding: 15px;
	border-radius: 15px;
	width: 20%;
	color: white;
}
	
fieldset {
	border: 3px solid dodgerblue;
}

legend {
	border: 1px solid dodgerblue;
	padding: 10px;
	text-align: center;
	background-color: dodgerblue;
	border-radius: 8px;
}
	  
.inputbox {
	position: relative;
}
	  
.inputuser {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: white;
	font-size: 15px;
	width: 100%;
	letter-spacing: 2px;
}
	  
.inputlabel {
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
}
	  
.inputuser:focus ~ .inputlabel,
.inputuser:valid ~ .inputlabel {
	top: -20px;
	font-size: 12px;
	color: dodgerblue;
}
	  
#date_of_birth {
	border: none;
	padding: 8px;
	border-radius: 10px;
	outline: none;
	font-size: 15px;
}

#submit {
	background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
	width: 100%;
	border: none;
	padding: 15px; 
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
}

#submit:hover {
	background-image: linear-gradient(to right, rgb(0, 80, 197), rgb(80, 19, 195))
}

a {
	background-color: dodgerblue;
	text-decoration: none;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
}

a:hover {
	background-color: deepskyblue;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

#update {
	background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
	width: 100%;
	border: none;
	padding: 15px; 
	color: white;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
}

#update:hover {
	background-image: linear-gradient(to right, rgb(0, 80, 197), rgb(80, 19, 195))
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}